@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: #000 url(./assets/background.jpg) no-repeat center center;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 90px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.content {
  background: #fff;
  margin: 50px 0;
  width: 100%;
  padding: 30px;
  border-radius: 4px;
}

.content > p {
  font-size: 22px;
  line-height: 30px;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

.content form label span {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.content button.btn {
  border-radius: 2px;
  width: 100%;
  height: 42px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
  background: #f05a5b;
  color: #fff;
  border: 0;
}

.content button.btn:hover {
  background: #e14f50;
}
